.auctions {
  &.shop {
    .grid-container-auctions {
      grid-row-gap: 3%;
      grid-template-columns: repeat(3, 1fr);
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-gap: 0;
      }
    }
  }

  .grid-container-auctions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 3%;
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-gap: 0.1%;
    }
    .product {
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      .img {
        overflow: hidden;

        img {
          transition: all 150ms;
          width: 100%;
          height: 20vw;
          @media screen and (max-width: 768px) {
            min-height: 20vw;
            height: auto;
          }
          object-fit: contain;
        }
      }
      .title {
        font-size: 1rem;
        font-weight: 200;
        color: #000;
      }
      .title2 {
        font-size: 1.2rem;
        font-weight: 200;
        color: #000;
      }
      .price,
      .time {
        font-size: 1.5rem;
        &.gray {
          margin-left: 0.5em;
          color: #cecece;
        }
      }
      .time {
        text-align: center;
        font-size: 1rem;
        &.gray {
          color: #cecece;
        }
      }
    }
  }
}
