* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 200;
}
* {
  &:active,
  :focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  height: 100%;
  font-size: 12px;
}

body {
  background-color: white;
}

#root {
  // position: relative;
  height: 100%;
}

.flex {
  display: flex;
}

.loading {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.main-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  cursor: pointer;
  transition: 300ms;
  @media screen and (max-width: 768px) {
    padding: 5px 11px;
  }
  &:hover {
    opacity: 0.5;
  }
}

ul.breadcrumb {
  padding: 10px 16px 10px 0;
  list-style: none;
  margin-bottom: 3em;

  li {
    display: inline;
    font-size: 18px;

    a {
      color: #b2b2b2;
      text-decoration: none;
      &:hover {
        color: #01447e;
      }
    }
  }
  li + li {
    &:before {
      padding: 8px;
      color: #b2b2b2;
      content: "/\00a0";
    }
  }
}

a {
  color: #000;
}

.product {
  width: 90%;
  margin: auto;

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  .img {
    object-fit: cover;
    overflow: hidden;
    height: 20vw;
    @media screen and (max-width: 768px) {
      min-height: 20vw;
    }
    img {
      transition: all 150ms;
      width: 100%;
    }
  }
  .title {
    font-size: 1.5rem;
    font-weight: 200;
    color: #000;
  }
  .price,
  .time {
    font-size: 2rem;
    &.gray {
      margin-left: 0.5em;
      color: #cecece;
    }
  }
}

/* The container */
/* Hide the browser's default checkbox */
/* Create a custom checkbox */
/* On mouse-over, add a grey background color */
/* When the checkbox is checked, add a blue background */
/* Create the checkmark/indicator (hidden when not checked) */
/* Show the checkmark when checked */
/* Style the checkmark/indicator */
.container-checkbox {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 0.7;

  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked {
      ~ {
        .checkmark {
          background-color: #2196f3;
          &:after {
            display: block;
          }
        }
      }
    }
  }
  &:hover {
    input {
      ~ {
        .checkmark {
          background-color: #ccc;
        }
      }
    }
  }
  .checkmark {
    &:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

//imports

@import "./config.scss";
@import "./navbar.scss";
@import "./modal.scss";
//main
@import "./main.scss";
@import "./hero.scss";
@import "./banners.scss";

//shared slider

@import "./sharedSlider.scss";
@import "./card.scss";

//shared subscribe

@import "./subscribe.scss";

//shop

@import "./shop.scss";
@import "./filter.scss";
@import "./footer.scss";
@import "./404.scss";
@import "./produt-det.scss";

//textpages

@import "./text.scss";

//contact

@import "./contact.scss";

//auctions
@import "./auctions.scss";

//auctions
@import "./galleries.scss";

//dashboard
@import "./dashboard.scss";

//artists
@import "./artists.scss";

//artworks
@import "./artworks.scss";

//cart
@import "./cart.scss";
